/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.xdebug-error {
  z-index: 9999;
  position: relative;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar {
    width:100%;
}

.dropdown-toggle .glyphicon {
  margin: 0 5px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* LANDING PAGE MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* ADMIN BACKEND
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.admin {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  top: 100px; 
}

/* Center align the text within the three columns below the carousel */
.admin .col-lg-4 {
  margin-bottom: 20px;
  /*text-align: center;*/
}
.admin h2 {
  font-weight: normal;
  margin-bottom: 20px;
}
.admin .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* List Wines 
-------------------------------------------------- */
.wine-list li {
  margin: 10px;
  /*font-weight: bold;*/
}
.basket ul {
  margin-top: 30px;
  width: 250px;
  height: 520px;
  float: left;
  list-style-type: none;
}
.wine-list h4 {
  text-align: center;
  font-weight: bold;
  height: 45px;
}
.wine-list div {
  clear: both;
  text-align: center;
}
.price_field {
  font-weight: bold;
}
.basket ul img {
  height: 140px;
  margin: 5px auto ;
}
.wine-img {
  text-align: center;
}
.description {
  height: 60px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
